/* Rules for the text area */
.wysiwyg-color-pink { color: #bc79b8; }
.wysiwyg-color-grey { color: #828282; }
.wysiwyg-color-white { color: #fff; background-color: #000; text-transform: uppercase; }

